@font-face {
  font-family: 'Public Sans';
  src: url('../assets/fonts/public-sans/PublicSans-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../assets/fonts/public-sans/PublicSans-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clear Sans';
  src: url('../assets/fonts/clear-sans/ClearSans-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clear Sans';
  src: url('../assets/fonts/clear-sans/ClearSans-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Flatory Sans';
  src: url('../assets/fonts/flatory-sans/Flatory-sans-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}